@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI",
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

}

.container {
  position: relative;
  width: 100%;
}

/* naviagtion */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #0054a6;
  border-left: 10px solid #0054a6;
  overflow: hidden;
  transition: 0.5s;

}

.navigation.active {
  width: 70px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li:hover,
.navigation ul li.hoverted {
  background: #f5f5f5;

}

.navigation ul li:nth-child(1) {
  margin-bottom: 30px;
  margin-top: 20px;
  pointer-events: none;
}

.navigation ul li:hover a,
.navigation ul li.hoverted a {
  color: #333;
}

.navigation ul li a .icon img {
  width: 50px;
  height: 50px;
  margin: 10px 0px;
}

.navigation ul li:hover .icon .fa {
  color: #bd0f0f;
}

.navigation ul li:hover a::before,
.navigation ul li.hoverted a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  background: transparent;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #f5f5f5;
}

.navigation ul li:hover a::after,
.navigation ul li.hoverted a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  background: transparent;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #f5f5f5;
}


.navigation ul li.active {
  background: #f5f5f5;
  margin-left: 5px;

}

.navigation ul li.active a {
  color: #333;
}

.navigation ul li.hoverted .icon .fa {
  color: #bd0f0f;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.copyright p {
  margin-top: 20px;
  color: rgb(230, 224, 224);
  font-size: 0.7em;
  text-align: start;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 45px;
  line-height: 50px;
  text-align: center;
}

.navigation ul li a .icon .fa-search {
  transform: rotate(90deg);
}

.navigation ul li a .icon .fa {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.navigation ul li strong {
  font-size: 20px;
}

.navigation ul li .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}

.navigation ul li .title-1 {
  position: relative;
  display: block;
  padding: 0 10px;
  text-align: start;
  margin-top: 25px;
  margin-left: -110px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}

.navigation ul li img {
  width: 60px;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
}


/* main */
